---
import '@/styles/global.css'
import MessengerLayout from '@/lib/components/messenger/MessengerLayout'
---

<html lang='uk' class='dark'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<title>Soliloquy</title>
	</head>
	<body class='bg-background text-foreground font-sans antialiased'>
		<MessengerLayout client:only='react' />
	</body>
</html>
